Repository Health-Informatics-UoN/hutch-cohort-discovery, pull requests merged in 2024-11, with the labels that each got.

#76 Fix relay workflow
  .github/workflows/release.Hutch.Relay.yml
  app/Hutch.Relay/Dockerfile
Labels: Area: CI, Area: Hutch.Relay

#90 Pre setup
  .github/workflows/release.resolve.yml
  .gitignore
  app/resolve/.gitignore
  app/resolve/Dockerfile.cli
  app/resolve/LICENSE
  app/resolve/README.md
  app/resolve/cli/__init__.py
  app/resolve/core/__about__.py
  app/resolve/core/__init__.py
  app/resolve/core/config.py
  app/resolve/core/constants.py
  app/resolve/core/db_manager.py
  app/resolve/core/entities.py
  app/resolve/core/enums.py
  app/resolve/core/obfuscation.py
  app/resolve/core/query_solvers.py
  app/resolve/core/rquest_dto/__init__.py
  app/resolve/core/rquest_dto/activity_job.py
  app/resolve/core/rquest_dto/base_dto.py
  app/resolve/core/rquest_dto/cohort.py
  app/resolve/core/rquest_dto/file.py
  app/resolve/core/rquest_dto/group.py
  app/resolve/core/rquest_dto/query.py
  app/resolve/core/rquest_dto/result.py
  app/resolve/core/rquest_dto/rule.py
  app/resolve/pyproject.toml
  app/rquest-omop-worker/Dockerfile
  app/rquest-omop-worker/pyproject.toml
  app/rquest-omop-worker/rquest_omop_worker/constants.py
  app/rquest-omop-worker/scripts/__init__.py
Labels: Area: CI, Area: Rquest Omop Worker

#95 Add Relay API
  .idea/.idea.rquest-tools/.idea/.gitignore
  .idea/.idea.rquest-tools/.idea/.name
  .idea/.idea.rquest-tools/.idea/encodings.xml
  .idea/.idea.rquest-tools/.idea/indexLayout.xml
  .idea/.idea.rquest-tools/.idea/vcs.xml
  app/Hutch.Relay/Controllers/TaskController.cs
  app/Hutch.Relay/Hutch.Relay.csproj
  app/Hutch.Relay/Program.cs
Labels: Area: Hutch.Relay

#101 Resolve setup
  .github/workflows/release.Hutch.Relay.yml
  .github/workflows/release.resolve.yml
  app/resolve/Dockerfile.daemon
  app/resolve/daemon/__init__.py
  app/resolve/pyproject.toml
  docker-compose.yml
Labels: Area: CI

#103 Resolve return results to "Relay"
  app/resolve/cli/__init__.py
  app/resolve/core/execute_query.py
  app/resolve/core/parser.py
  app/resolve/core/settings.py
  app/resolve/daemon/__init__.py
  app/resolve/poetry.lock
  app/resolve/pyproject.toml
  app/resolve/test/test_return.py
  docker-compose.yml
Labels: Area: CI

#107 Implement .NET Identity #98
  app/Hutch.Relay/Data/ApplicationDbContext.cs
  app/Hutch.Relay/Hutch.Relay.csproj
  app/Hutch.Relay/Migrations/20241107124930_InitialCreate.Designer.cs
  app/Hutch.Relay/Migrations/20241107124930_InitialCreate.cs
  app/Hutch.Relay/Migrations/ApplicationDbContextModelSnapshot.cs
  app/Hutch.Relay/Program.cs
  app/Hutch.Relay/appsettings.Development.json
  docker-compose.yml
Labels: Area: Hutch.Relay, Contains: Migrations

#108 RACKit Polling
  .editorconfig
  .idea/.idea.Hutch.CohortDiscovery/.idea/.gitignore
  .idea/.idea.Hutch.CohortDiscovery/.idea/.name
  .idea/.idea.Hutch.CohortDiscovery/.idea/encodings.xml
  .idea/.idea.Hutch.CohortDiscovery/.idea/indexLayout.xml
  .idea/.idea.Hutch.CohortDiscovery/.idea/vcs.xml
  .idea/.idea.rquest-tools/.idea/.name
  Hutch.CohortDiscovery.sln
  lib/Hutch.Rackit/ApiClientOptions.cs
  lib/Hutch.Rackit/Hutch.Rackit.csproj
  lib/Hutch.Rackit/TaskApi/TaskApiClient.cs
  samples/RACKit/BasicTaskApi/BasicTaskApi.csproj
  samples/RACKit/BasicTaskApi/Program.cs
  samples/RACKit/BasicTaskApi/README.md
  samples/RACKit/BasicTaskApi/TaskHandler.cs
  samples/RackitUsage/Program.cs
Labels: Area: Hutch.Rackit

#112 Relay/111/dummy endpoints
  app/Hutch.Relay/Controllers/TaskController.cs
Labels: Area: Hutch.Relay

#126 Add images build on PR
  .github/workflows/build.Hutch.Relay.image.yml
  .github/workflows/build.Resolve.CLI.image.yml
  .github/workflows/build.Resolve.Daemon.image.yml
Labels: Area: CI

#131 Change Nuget package versions for .Net 9
  app/Hutch.Relay/Hutch.Relay.csproj
Labels: Area: Hutch.Relay

#132 Relay/92/nextjob endpoint
  app/Hutch.Relay/Controllers/TaskController.cs
  app/Hutch.Relay/Hutch.Relay.csproj
  app/Hutch.Relay/Services/Contracts/IRelayTaskQueue.cs
  app/Hutch.Relay/Services/RabbitRelayTaskQueue.cs
  app/Hutch.Relay/Services/UpstreamTaskPoller.cs
  app/Hutch.Relay/Startup/Web/ConfigureWebService.cs
  app/Hutch.Relay/appsettings.Development.json
Labels: Area: Hutch.Relay

#133 Results Endpoint
  app/Hutch.Relay/Controllers/TaskController.cs
  app/Hutch.Relay/Services/Contracts/IRelaySubTaskService.cs
  app/Hutch.Relay/Services/RelaySubTaskService.cs
  app/Hutch.Relay/Services/TaskApiService.cs
  app/Hutch.Relay/Startup/Web/ConfigureWebService.cs
  lib/Hutch.Rackit/RackitApiClientException.cs
  lib/Hutch.Rackit/TaskApi/TaskApiClient.cs
Labels: Area: Hutch.Rackit, Area: Hutch.Relay

#136 Add migrations startup/CLI
  app/Hutch.Relay/Commands/RunEfDatabase.cs
  app/Hutch.Relay/Commands/Runners/RunEfDatabase.cs
  app/Hutch.Relay/Startup/Cli/CliEntrypoint.cs
  app/Hutch.Relay/Startup/Web/WebEntrypoint.cs
  app/Hutch.Relay/appsettings.Development.json
Labels: Area: Hutch.Relay

#138 Aggregate SubTask Results
  app/Hutch.Relay/Controllers/TaskController.cs
  app/Hutch.Relay/Services/Contracts/IRelaySubTaskService.cs
  app/Hutch.Relay/Services/Contracts/IRelayTaskService.cs
  app/Hutch.Relay/Services/RelaySubTaskService.cs
  app/Hutch.Relay/Services/RelayTaskService.cs
  app/Hutch.Relay/Services/ResultsService.cs
  app/Hutch.Relay/Services/UpstreamTaskPoller.cs
  app/Hutch.Relay/Startup/Web/ConfigureWebService.cs
  tests/Hutch.Relay.Tests/Services/RelaySubTaskServiceTests.cs
  tests/Hutch.Relay.Tests/Services/UpstreamTaskPollerTests.cs
Labels: Area: Hutch.Rackit, Area: Hutch.Relay

#139 Results submission service
  app/Hutch.Relay/Controllers/TaskController.cs
  app/Hutch.Relay/Services/Hosted/TaskCompletionHostedService.cs
  app/Hutch.Relay/Services/RelayTaskService.cs
  app/Hutch.Relay/Services/ResultsService.cs
  app/Hutch.Relay/Services/TaskApiService.cs
  app/Hutch.Relay/Startup/Web/ConfigureWebService.cs
Labels: Area: Hutch.Relay

#148 Small tidy ups to align with docs / improve devex
  .github/workflows/release.Hutch.Relay.yml
  compose.yml
Labels: Area: CI

#144 Add Relay Obfuscation functions
  app/Hutch.Relay/Config/ObfuscationOptions.cs
  app/Hutch.Relay/Controllers/TaskController.cs
  app/Hutch.Relay/Properties/launchSettings.json
  app/Hutch.Relay/Services/Contracts/IObfuscationService.cs
  app/Hutch.Relay/Services/ObfuscationService.cs
  app/Hutch.Relay/Services/ResultsService.cs
  app/Hutch.Relay/Startup/Web/ConfigureWebService.cs
  compose.yml
Labels: Area: Hutch.Relay

#130 Add Relay Auth
  app/Hutch.Relay/Auth/Basic/BasicAuthDefaults.cs
  app/Hutch.Relay/Auth/Basic/BasicAuthExtensions.cs
  app/Hutch.Relay/Auth/Basic/BasicAuthHandler.cs
  app/Hutch.Relay/Auth/Basic/BasicAuthParsingException.cs
  app/Hutch.Relay/Auth/Basic/BasicAuthSchemeOptions.cs
  app/Hutch.Relay/Controllers/TaskController.cs
  app/Hutch.Relay/Startup/Web/ConfigureWebPipeline.cs
  app/Hutch.Relay/Startup/Web/ConfigureWebService.cs
Labels: Area: Hutch.Relay
